@charset "UTF-8";

body {
	
	background-color: white;
}

h1 {
	color: #000080;
	text-align: center;
	
}

h2 {
	text-align: center;
}

h3 {
	margin-left: 25px;
	
}

h4 {
	margin-left: 25px;
	
}

p {
	margin-left: 45px;
	
}

ul {
	margin-left: 25px
}

#div1 {
	background-color: #D3D3D3;
	margin-left: 55px;
	border-left: 10px solid #D3D3D3;
	width: 145px;
}

#div2 {
	background-color: #D3D3D3;
	margin-left: 55px;
	border-left: 10px solid #D3D3D3;
	width: 90px;
}

#div3 {
	background-color: #DCDCDC;
	margin-left: 200px
	
}